<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 연결할 MODEL 혹은 VO 혹은 DTO추가 -->
	<typeAliases>
		<typeAlias type="com.example.test.model.Users" alias="Users"></typeAlias>
		<typeAlias type="com.example.test.model.Market" alias="Market"></typeAlias>
	</typeAliases>
	
	<!-- mapper 파일 추가 -->
	<mappers>
		<mapper resource="mybatis/users.xml"/>
		<mapper resource="mybatis/market.xml"/>
	</mappers>
</configuration>