<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="returnInstanceForEmptyRow" value="true"/>
	</settings>
	
	<!-- 연결할 MODEL 혹은 VO 혹은 DTO추가(각각의 모델마다 패키지명을 생략하여 지정한 명칭으로 해당 모델을 사용할 수 있게 해줌) -->
	<typeAliases>
		<typeAlias type="com.example.test.Model.Users" alias="Users"></typeAlias>
		<typeAlias type="com.example.test.Model.MarketCategory" alias="MarketCategory"/>
		<typeAlias type="com.example.test.Model.ResourceCategory" alias="ResourceCategory"/>
		<typeAlias type="com.example.test.Model.ResourceSubCategory" alias="ResourceSubCategory"/>
		<typeAlias type="com.example.test.Model.ResourceShop" alias="ResourceShop"/>
		<typeAlias type="com.example.test.Model.Ranking" alias="Ranking"/>
		<typeAlias type="com.example.test.Model.Counting" alias="Counting"/>
		<typeAlias type="com.example.test.Model.RegexDetail" alias="RegexDetail"/>
		<typeAlias type="com.example.test.Model.NewRegex" alias="NewRegex"/>
		<typeAlias type="com.example.test.Model.ResourceFile" alias="ResourceFile"/>
		<typeAlias type="com.example.test.Model.OrdersDetails" alias="OrdersDetails"/>
		<typeAlias type="com.example.test.Model.BuyPoint" alias="BuyPoint"/>
		<typeAlias type="com.example.test.Model.MyOrderList" alias="MyOrderList"/>
	</typeAliases>
	
	<!-- mapper 파일 추가 -->
	<mappers>
		<mapper resource="mybatis/users.xml"/>
		<mapper resource="mybatis/resourceCategory.xml"/>
		<mapper resource="mybatis/resourceSubCategory.xml"/>
		<mapper resource="mybatis/resourceShop.xml"/>
		<mapper resource="mybatis/buyPoint.xml"/>
		<mapper resource="mybatis/counting.xml"/>
		<mapper resource="mybatis/orders.xml"/>
		<mapper resource="mybatis/ordersDetails.xml"/>
		<mapper resource="mybatis/ranking.xml" />
	</mappers>
</configuration>